services:
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: ai_avatar
      MYSQL_USER: avataruser
      MYSQL_PASSWORD: password123
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    ports:
      - "6380:6379"

  backend:
    build: ./backend
    env_file:
    - ./backend/.env
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
      #- media_files:/app/media
    ports:
      - "8000:8000"
    environment:
      DB_HOST: mysql
      DB_PORT: "3306"
      DB_NAME: ai_avatar
      DB_USER: avataruser
      DB_PASSWORD: password123
      REDIS_URL: redis://redis:6379/0
      
      SECRET_KEY: django-insecure-dev-key
      DEBUG: "True"
      CORS_ALLOWED_ORIGINS: http://localhost:3000
    depends_on:
      mysql:
        condition: service_healthy

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    environment:
      REACT_APP_API_URL: http://localhost:8000/api
      CHOKIDAR_USEPOLLING: "true"
    stdin_open: true
    tty: true
    depends_on:
      - backend

volumes:
  mysql_data:
  media_files:
